name: Build and Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            suffix: amd64
          - target: aarch64-unknown-linux-gnu
            suffix: arm64

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Cross
        uses: taiki-e/install-action@cross

      - name: Build Release
        run: cargo build --release --target ${{ matrix.target }}

      - name: Rename Binary
        run: |
          cp target/${{ matrix.target }}/release/file-tree file-tree-${{ matrix.suffix }}

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: file-tree-${{ matrix.suffix }}
